<a href="https://colab.research.google.com/github/mossytreesandferns/DataCampDataEngineering/blob/master/WritingEfficientCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Mount my drive- run the code, go to the link, accept.
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [76]:
#Change working directory to make it easier to access the files
import os
os.chdir("/content/gdrive/My Drive/DCCleaningData/")
os.getcwd()

'/content/gdrive/My Drive/DCCleaningData'

# Foundations for Efficiencies

### range(), list(), map(), enumerate()

In [0]:
# Use list comprehension when iterating over lists

In [4]:
nums = range(0,10)
numslist = list(nums)
numslist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
evennums = range(0,20,2)
numslist = list(evennums)
numslist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [6]:
# enumerate assigns numerical indexes to list items
l= ['a','x','d','f','p']
e = enumerate(l)
le = list(e)
le

[(0, 'a'), (1, 'x'), (2, 'd'), (3, 'f'), (4, 'p')]

In [7]:
# enumerate assigns numerical indexes to list items
l= ['a','x','d','f','p']
e = enumerate(l)
le = [*e]
le

[(0, 'a'), (1, 'x'), (2, 'd'), (3, 'f'), (4, 'p')]

In [8]:
l= ['a','x','d','f','p']
e = enumerate(l, start=5)
le = list(e)
le

[(5, 'a'), (6, 'x'), (7, 'd'), (8, 'f'), (9, 'p')]

In [9]:
floats = [1.1,2.2,3.3,4.4,5.5]
rounds = map(round,floats)
print(list(rounds))

[1, 2, 3, 4, 6]

In [10]:
floats = [1.1,2.2,3.3,4.4,5.5]
lam = map(lambda x: x**2, floats)
list(lam)

[1.2100000000000002,
 4.840000000000001,
 10.889999999999999,
 19.360000000000003,
 30.25]

In [11]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']

# Rewrite the for loop to use enumerate
indexed_names = []
for i,name in enumerate(names):
    index_name = (i,name)
    indexed_names.append(index_name) 
print(indexed_names)

# Rewrite the above for loop using list comprehension
indexed_names_comp = [(i,name) for i,name in enumerate(names)]
print(indexed_names_comp)

# Unpack an enumerate object with a starting index of one
indexed_names_unpack = [*enumerate(names, start=1)]  # * makes it so that a list is printed without append, or list comprehension, [] == list()
print(indexed_names_unpack)

[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(0, 'Jerry'), (1, 'Kramer'), (2, 'Elaine'), (3, 'George'), (4, 'Newman')]
[(1, 'Jerry'), (2, 'Kramer'), (3, 'Elaine'), (4, 'George'), (5, 'Newman')]

In [12]:
names = ['Jerry', 'Kramer', 'Elaine', 'George', 'Newman']
# Use map to apply str.upper to each element in names
names_map  = map(lambda name:name.upper(), names)

# Print the type of the names_map
print(type(names_map))

# Unpack names_map into a list
names_uppercase =[*names_map]

# Print the list created above
print(names_uppercase)

<class 'map'>
['JERRY', 'KRAMER', 'ELAINE', 'GEORGE', 'NEWMAN']

### Numpy Arrays

In [13]:
import numpy as np
nums = np.array(range(5)) # all arrays have to have the same type
nums

array([0, 1, 2, 3, 4])

In [14]:
nums.dtype

dtype('int64')

In [15]:
nums = np.array([1,2.2, 5])
nums

array([1. , 2.2, 5. ])

In [16]:
# for loops or list comprehensions in addition to numpy arrays
nums = np.array([1,2.2, 5])
nums **2

array([ 1.  ,  4.84, 25.  ])

In [17]:
#words = np.array(['and','or','to'])

l = ([1,2,3],[4,5,6])
a = np.array(l)
l[0][2], a[0,2]

(3, 3)

In [18]:
[row[0] for row in l], a[:,0]

([1, 4], array([1, 4]))

In [19]:
# extracting data
l = [1,2,3,4,5,6]
a = np.array(l)
a[a>=3]
 # have to use for loop for l or list comprehension

array([3, 4, 5, 6])

In [20]:
b = [i for i in l  if i >= 3]
b

[3, 4, 5, 6]

In [21]:
# Create a list of arrival times
arrival_times = [*range(10, 60, 10)]

print(arrival_times)

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

print(new_times)

# Use list comprehension and enumerate to pair guests to new times
guest_arrivals = [(names[name],time) for name,time in enumerate(new_times)]

print(guest_arrivals)

# # Map the welcome_guest function to each (guest,time) pair
# welcome_map = map(welcome_guest, guest_arrivals)

# guest_welcomes = [*welcome_map]
# print(*guest_welcomes, sep='\n')

[10, 20, 30, 40, 50]
[ 7 17 27 37 47]
[('Jerry', 7), ('Kramer', 17), ('Elaine', 27), ('George', 37), ('Newman', 47)]

# Timing and Profiling Code

### Examining Runtime

In [22]:
'''%timeit'''

# Create a list of arrival times
%timeit arrival_times = [*range(10, 60, 10)]

print(arrival_times)

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

print(new_times)

# Use list comprehension and enumerate to pair guests to new times
%timeit guest_arrivals = [(names[name],time) for name,time in enumerate(new_times)] # names[name] points to digit created by enumerate, literal creation of tuple

print(guest_arrivals)

The slowest run took 8.21 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 298 ns per loop
[10, 20, 30, 40, 50]
[ 7 17 27 37 47]
The slowest run took 5.06 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.69 µs per loop
[('Jerry', 7), ('Kramer', 17), ('Elaine', 27), ('George', 37), ('Newman', 47)]

In [23]:
'''Timeit specifying iterations -r and loops -n'''

%timeit -r2 -n10 guest_arrivals = [(names[name],time) for name,time in enumerate(new_times)]

print(guest_arrivals)

10 loops, best of 2: 3.11 µs per loop
[('Jerry', 7), ('Kramer', 17), ('Elaine', 27), ('George', 37), ('Newman', 47)]

In [24]:
'''%%timeit on multiple lines of code'''

#%%timeit
# Create a list of arrival times
arrival_times = [*range(10, 60, 10)]

print(arrival_times)

# Convert arrival_times to an array and update the times
arrival_times_np = np.array(arrival_times)
new_times = arrival_times_np - 3

print(new_times)

# Use list comprehension and enumerate to pair guests to new times
guest_arrivals = [(names[name],time) for name,time in enumerate(new_times)]

print(guest_arrivals)

[10, 20, 30, 40, 50]
[ 7 17 27 37 47]
[('Jerry', 7), ('Kramer', 17), ('Elaine', 27), ('George', 37), ('Newman', 47)]

In [25]:
'''saving %timeit into a variable'''
import timeit
times = %timeit -o guest_arrivals = [(names[name],time) for name,time in enumerate(new_times)]

The slowest run took 6.36 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 1.73 µs per loop

In [26]:
times.timings # .timings deprecated?

AttributeError: ignored

In [27]:
times.best

1.7264986079999857e-06

In [28]:
times.worst

1.0982000020476335e-05

In [29]:
dicti = %timeit -o di = dict() # formal syntax

The slowest run took 14.25 times longer than the fastest. This could mean that an intermediate result is being cached.
10000000 loops, best of 3: 103 ns per loop

In [30]:
fdict = %timeit -o di = {} # literal syntax

10000000 loops, best of 3: 38.7 ns per loop

In [31]:
# Create a list of integers (0-50) using list comprehension
nums_list_comp = [num for num in range(51)]
print(nums_list_comp)


# Create a list of integers (0-50) by unpacking range
nums_unpack = [*range(51)]
print(nums_unpack)

%timeit nums_list_comp = [num for num in range(51)]
%timeit nums_unpack = [*range(51)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
1000000 loops, best of 3: 1.56 µs per loop
The slowest run took 4.87 times longer than the fastest. This could mean that an intermediate result is being cached.
1000000 loops, best of 3: 569 ns per loop

In [32]:
# Create a list using the formal name
formal_list = list()
print(formal_list)

# Create a list using the literal syntax
literal_list = []
print(literal_list)

[]
[]

In [33]:
'''numpy arrays are faster''' 
%%timeit
... wts_np = np.array(wts)
... hero_wts_lbs_np = wts_np * 2.20462

%%timeit
... hero_wts_lbs = []
... for wt in wts:
...     hero_wts_lbs.append(wt * 2.20462)

SyntaxError: ignored

### Code Profiling for runtime

In [34]:
'''Runtime profiling on functions/multiple lines of code'''
# line_profiler package
!pip install line_profiler

Collecting line_profiler
  Downloading https://files.pythonhosted.org/packages/d8/cc/4237472dd5c9a1a4079a89df7ba3d2924eed2696d68b91886743c728a9df/line_profiler-3.0.2-cp36-cp36m-manylinux2010_x86_64.whl (68kB)
     |████████████████████████████████| 71kB 1.8MB/s
Requirement already satisfied: IPython in /usr/local/lib/python3.6/dist-packages (from line_profiler) (5.5.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (4.3.3)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (4.4.2)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (1.0.18)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (2.1.3)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (46.1.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from IPython->line_profiler) (0.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython->line_profiler) (1.12.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from traitlets>=4.2->IPython->line_profiler) (0.2.0)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->IPython->line_profiler) (0.6.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->IPython->line_profiler) (0.1.9)
Installing collected packages: line-profiler
Successfully installed line-profiler-3.0.2

In [0]:
%load_ext line_profiler

In [0]:
#%lprun -f name_of_function name_of_function(parameters) #-f specifies that a function is being profiled

In [37]:
li1 = ['Oh','You\'re']
li2 = ['my!', 'kidding!']
def string_sentence(l1, l2):
  com = zip(l1, l2)
  l = [*com]
  return l
print(string_sentence(li1,li2))   
%lprun -f string_sentence string_sentence(li1,li2)

[('Oh', 'my!'), ("You're", 'kidding!')]

### Code Profiling for Memory Usage

In [0]:
'''Use sys for memory usage'''

import sys #sys.getsizeof() for object code usage

In [39]:
# for line by line usage, use memory_profiler

!pip install memory_profiler

Collecting memory_profiler
  Downloading https://files.pythonhosted.org/packages/f4/03/175d380294b2333b9b79c2f2aa235eb90ee95e3ddef644497a9455404312/memory_profiler-0.57.0.tar.gz
Requirement already satisfied: psutil in /usr/local/lib/python3.6/dist-packages (from memory_profiler) (5.4.8)
Building wheels for collected packages: memory-profiler
  Building wheel for memory-profiler (setup.py) ... done
  Created wheel for memory-profiler: filename=memory_profiler-0.57.0-cp36-none-any.whl size=28992 sha256=5b69e306a6327f5e4db60f8b3e9be6a4701efb0b8455e71c0d7b0e6d12c21386
  Stored in directory: /root/.cache/pip/wheels/74/20/b5/20964ef97be73d2c3a695c9cad7bccd96d1e3e737a8163861f
Successfully built memory-profiler
Installing collected packages: memory-profiler
Successfully installed memory-profiler-0.57.0

In [0]:
%load_ext memory_profiler

In [41]:
li1 = ['Oh','You\'re']
li2 = ['my!', 'kidding!']
def string_sentence(l1, l2):
  com = zip(l1, l2)
  l = [*com]
  return l
print(string_sentence(li1,li2))
%mprun -f string_sentence string_sentence(li1,li2) # can only be used on functions defined in physical files

[('Oh', 'my!'), ("You're", 'kidding!')]
ERROR: Could not find file <ipython-input-41-20745907e9f8>
NOTE: %mprun can only be used on functions defined in physical files, and not in the IPython environment.

In [0]:
# create .py file and drop into local directory

#### Bringing file into Colab

In [0]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
module = drive.CreateFile({'id':'1psxvkic9wY6-4tAhtRTsFgWQvorLlpEn'})

In [0]:
module.GetContentFile('stringsentence.py')

In [45]:
from stringsentence import string_sentence
%mprun -f string_sentence string_sentence(li1,li2)

[('Oh', 'my!'), ("You're", 'kidding!')]

# Gaining Efficiencies

### Efficiently combining, counting, iterating

In [46]:
# Combining objects slow way 6 lines
names = ['John', 'Anne','Phyllis']
points = [45,26,78]

combined = []
for i, name in enumerate(names): # digit comes first, i, name in enumerate(names)
  combined.append((name, points[i]))

print(combined)

[('John', 45), ('Anne', 26), ('Phyllis', 78)]

In [47]:
# Faster way is zip 2 lines
combined = zip(names, points)
print([*combined])

[('John', 45), ('Anne', 26), ('Phyllis', 78)]

In [48]:
'''Collections module'''
# specialized data types: namedtuple, deque, Counter, OrderedDict, defaultdict

# Creating dictionaries of counts: slow way

stuff_to_count=['and','and','and','and','or','or','or','ought','ought','ought','ought','ought']
di = {}

for i in stuff_to_count:
  if i in di:
    di[i] += 1
  else:
    di[i] = 1  

print(di)

{'and': 4, 'or': 3, 'ought': 5}

In [49]:
# Creating dictionaries of counts: Counter

from collections import Counter

stuff_to_count=['and','and','and','and','or','or','or','ought','ought','ought','ought','ought']

di = Counter(stuff_to_count)
di

Counter({'and': 4, 'or': 3, 'ought': 5})

In [50]:
# Combinatoric Generators: product, permutations,combinations
stuff_to_count=['and','and','and','and','or','or','or','ought','ought','ought','ought','ought']
combo = []
# slow way
for x in stuff_to_count:
  for y in stuff_to_count:
    if x == y:
      continue
    if ((x,y) not in combo) & ((y,x) not in combo):  
        combo.append((x,y))

combo

[('and', 'or'), ('and', 'ought'), ('or', 'ought')]

In [51]:
# fast way
from itertools import combinations
combos = combinations(stuff_to_count,2)
[*combos]

[('and', 'and'),
 ('and', 'and'),
 ('and', 'and'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'and'),
 ('and', 'and'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'and'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'or'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('and', 'ought'),
 ('or', 'or'),
 ('or', 'or'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'or'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('or', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought'),
 ('ought', 'ought')]

In [52]:
from itertools import combinations
s = ['a','e','i','o','u']
combos = combinations(s,2)
[*combos]

[('a', 'e'),
 ('a', 'i'),
 ('a', 'o'),
 ('a', 'u'),
 ('e', 'i'),
 ('e', 'o'),
 ('e', 'u'),
 ('i', 'o'),
 ('i', 'u'),
 ('o', 'u')]

In [53]:
names = ['John', 'Anne','Phyllis']
points = [45,26,78]
names_type1 = [*zip(names, points)]

print(*names_type1[:5], sep='\n')

('John', 45)
('Anne', 26)
('Phyllis', 78)

In [54]:
names = ['John', 'Anne','Phyllis']
points = [45,26,78]
floats = [.1,.2,.3]
names_type1 = [*zip(names, points,floats)]
names_type1

[('John', 45, 0.1), ('Anne', 26, 0.2), ('Phyllis', 78, 0.3)]

In [55]:
names = ['John', 'Anne','Phyllis','Derek','Janie']
points = [45,26,78]
names_type1 = [*zip(names, points)]
names_type1

[('John', 45), ('Anne', 26), ('Phyllis', 78)]

In [56]:
names = ['John', 'Anne','Phyllis','Derek','Janie']
points = [45,26,78]
names_type1 = [*zip(names[:3], points[:2])]
names_type1

[('John', 45), ('Anne', 26)]

In [57]:
# Collect the count of primary types
type_count = Counter(floats)
print(type_count, '\n')

# Collect the count of generations
gen_count = Counter(points)
print(gen_count, '\n')

# Use list comprehension to get each Pokémon's starting letter

starting_letters = [string[0] for string in names]


# Collect the count of Pokémon for each starting_letter
starting_letters_count = Counter(starting_letters)
print(starting_letters_count)

Counter({0.1: 1, 0.2: 1, 0.3: 1})

Counter({45: 1, 26: 1, 78: 1})

Counter({'J': 2, 'A': 1, 'P': 1, 'D': 1})

In [58]:
from itertools import combinations as co
ltwo = co(names, 2)
unpack = [*ltwo]

lfour = [*co(names,4)]
unpack, lfour

([('John', 'Anne'),
  ('John', 'Phyllis'),
  ('John', 'Derek'),
  ('John', 'Janie'),
  ('Anne', 'Phyllis'),
  ('Anne', 'Derek'),
  ('Anne', 'Janie'),
  ('Phyllis', 'Derek'),
  ('Phyllis', 'Janie'),
  ('Derek', 'Janie')],
 [('John', 'Anne', 'Phyllis', 'Derek'),
  ('John', 'Anne', 'Phyllis', 'Janie'),
  ('John', 'Anne', 'Derek', 'Janie'),
  ('John', 'Phyllis', 'Derek', 'Janie'),
  ('Anne', 'Phyllis', 'Derek', 'Janie')])

### Set Theory

In [59]:
names = ['John', 'Anne','Phyllis','Derek','Janie']
names2 = ['Miranda','Fergus','Craig','Alison','Stephanie','Derek','Janie']

# slow way

in_both = []
for a in names:
  for b in names2:
    if a == b:
      in_both.append(a)
in_both

['Derek', 'Janie']

In [60]:
# faster way

set_1 = set(names)
set_2 = set(names2)

set_1.intersection(set_2)

{'Derek', 'Janie'}

In [61]:
set_1.difference(set_2)

{'Anne', 'John', 'Phyllis'}

In [62]:
set_2.difference(set_1)

{'Alison', 'Craig', 'Fergus', 'Miranda', 'Stephanie'}

In [63]:
set_1.symmetric_difference(set_2) # symmetric_difference: the opposite of intersection

{'Alison',
 'Anne',
 'Craig',
 'Fergus',
 'John',
 'Miranda',
 'Phyllis',
 'Stephanie'}

In [64]:
set_1.union(set_2) # combines all unique values

{'Alison',
 'Anne',
 'Craig',
 'Derek',
 'Fergus',
 'Janie',
 'John',
 'Miranda',
 'Phyllis',
 'Stephanie'}

In [0]:
# checking if an itemis in a set is faster than list of tuple

In [66]:
# pulling sets out of group with repeats

#slow way
stuff_to_count=['and','and','and','and','or','or','or','ought','ought','ought','ought','ought']

l = []
for i in stuff_to_count:
  if i not in l:
    l.append(i)
l

['and', 'or', 'ought']

In [67]:
# faster way

setof = set(stuff_to_count)
setof

{'and', 'or', 'ought'}

### Eliminating Loops

In [68]:
'''use inbuilt functions to speed up runtime'''

stats = [[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]]

# using a loop
l = []
for row in stats:
  l.append(sum(row))
print(l)

# using list comprehension
l = [sum(row) for row in stats]
print(l)

# using map runction
l = [*map(sum,stats)]
print(l)

[15, 40, 65]
[15, 40, 65]
[15, 40, 65]

In [69]:
#Combinations loops and itertools
#loops
names = ['John', 'Anne','Phyllis','Derek','Janie']
combo = []
# slow way
for x in names:
  for y in names:
    if x == y:
      continue
    if ((x,y) not in combo) & ((y,x) not in combo):  
        combo.append((x,y)) 


# Combinations 
names = ['John', 'Anne','Phyllis','Derek','Janie']
n = combinations(names,2)
combo, [*n]

([('John', 'Anne'),
  ('John', 'Phyllis'),
  ('John', 'Derek'),
  ('John', 'Janie'),
  ('Anne', 'Phyllis'),
  ('Anne', 'Derek'),
  ('Anne', 'Janie'),
  ('Phyllis', 'Derek'),
  ('Phyllis', 'Janie'),
  ('Derek', 'Janie')],
 [('John', 'Anne'),
  ('John', 'Phyllis'),
  ('John', 'Derek'),
  ('John', 'Janie'),
  ('Anne', 'Phyllis'),
  ('Anne', 'Derek'),
  ('Anne', 'Janie'),
  ('Phyllis', 'Derek'),
  ('Phyllis', 'Janie'),
  ('Derek', 'Janie')])

In [70]:
# USE NUMPY!!!
import numpy as np

stats = np.array([[1,2,3,4,5],[6,7,8,9,10],[11,12,13,14,15]])

#loop way
l = []
for row in stats:
  avg = row.mean()
  l.append(avg)
print(l)

# numpy way
avgs = stats.mean(axis=1)
print(avgs)

[3.0, 8.0, 13.0]
[ 3.  8. 13.]

In [71]:
# Collect Pokémon that belong to generation 1 or generation 2
gen1_gen2_pokemon = [name for name,gen in zip(poke_names, poke_gens) if gen < 3]

# Create a map object that stores the name lengths
name_lengths_map = map(len, poke_names)

# Combine gen1_gen2_pokemon and name_lengths_map into a list
gen1_gen2_name_lengths = [*(gen1_gen2_pokemon, name_lengths_map)]

print(gen1_gen2_name_lengths_loop[:5])
print(gen1_gen2_name_lengths[:5])

NameError: ignored

In [0]:

# Create a total stats array
total_stats_np = stats.sum(axis=1)

# Create an average stats array
avg_stats_np = stats.mean(axis=1)

# Combine names, total_stats_np, and avg_stats_np into a list
poke_list_np = [*zip(names, total_stats_np, avg_stats_np)]

print(poke_list_np == poke_list, '\n')
print(poke_list_np[:3])
print(poke_list[:3], '\n')
top_3 = sorted(poke_list_np, key=lambda x: x[1], reverse=True)[:3]
print('3 strongest Pokémon:\n{}'.format(top_3))

### Writing Better Loops

In [72]:
# calculations or actions that are only done once (value doesn't change), pull out of loop to above, data conversions can often be done first or
# afterwards, 

names = ['John', 'Anne','Phyllis','Derek','Janie']
stats = np.array([5,6,7,8,9])

#Calculate mean first, not inside loop
stats_m = stats.mean()
for name, stat in zip(names,stats):
  # stats = np.array([5,6,7,8,9]) bad here
  if stat > stats_m:
    print(name,stat)

Derek 8
Janie 9

In [73]:
names = ['John', 'Anne','Phyllis','Derek','Janie']
stats = [5,6,7,8,9]
floats = [.1,.2,.3,.4,.5]

#bad way
l= []
for tup in zip(names,stats,floats):
  tup_list = list(tup)
  l.append(tup_list)
print(l)

# better way
m =[]
for tup in zip(names,stats,floats):
  m.append(tup)

n = [*map(list,m)] 
n

[['John', 5, 0.1], ['Anne', 6, 0.2], ['Phyllis', 7, 0.3], ['Derek', 8, 0.4], ['Janie', 9, 0.5]]

[['John', 5, 0.1],
 ['Anne', 6, 0.2],
 ['Phyllis', 7, 0.3],
 ['Derek', 8, 0.4],
 ['Janie', 9, 0.5]]

In [0]:

# Collect all possible pairs using combinations()
possible_pairs = [*combinations(pokemon_types, 2)]

# Create an empty list called enumerated_tuples
enumerated_tuples = []

# Add a line to append each enumerated_pair_tuple to the empty list above
for i,pair in enumerate(possible_pairs, 1):
    enumerated_pair_tuple = (i,) + pair
    enumerated_tuples.append(enumerated_pair_tuple)

# Convert all tuples in enumerated_tuples to a list
enumerated_pairs = [*map(list, enumerated_tuples)]
print(enumerated_pairs)

In [0]:

# Calculate the total HP avg and total HP standard deviation
hp_avg = hps.mean()
hp_std = hps.std()

# Use NumPy to eliminate the previous for loop
z_scores = (hps - hp_avg)/hp_std

# Combine names, hps, and z_scores
poke_zscores2 = [*zip(names, hps, z_scores)]
print(*poke_zscores2[:3], sep='\n')

highest_hp_pokemon2 = [(name, hp, zscore) for name,hp,zscore in poke_zscores2 if zscore > 2]
print(*highest_hp_pokemon2, sep='\n')

# Basic Pandas Optimizations

### Intro to Pandas Dataframe Iteration

In [84]:
import pandas as pd
import numpy as np
tips = pd.read_csv('tips.csv')
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [86]:
# Slow way: What percent of the total bill was the tip?

# Create function to pass in the iteration
def calc_percent(tip, total):

  percent_tip = tip/total
  return np.round(percent_tip,2)

# Create iterative loop
percent_tips_list = []

for i in range(len(tips)): #specifying height of dataframe

  row = tips.iloc[i]
  total_bill = row['total_bill']
  tip = row['tip']
  tip_percent = calc_percent(tip, total_bill)
  percent_tips_list.append(tip_percent)

tips['percent_tip'] = percent_tips_list
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  percent_tip
0       16.99  1.01  Female     No  Sun  Dinner     2         0.06
1       10.34  1.66    Male     No  Sun  Dinner     3         0.16
2       21.01  3.50    Male     No  Sun  Dinner     3         0.17

In [89]:
# Faster way: What percent of the total bill was the tip? (similar lines but more efficient)
tips = pd.read_csv('tips.csv')

# Create function to pass in the iteration
def calc_percent(tip, total):

  percent_tip = tip/total
  return np.round(percent_tip,2)

# Use .iterrows()
percent_tips_list = []
for i, row in tips.iterrows(): # recall iterrows() returns a tuple of an index and a value, can also use one variable to store tuple
  
  tip = row['tip']
  total_bill = row['total_bill']
  tip_percent = calc_percent(tip, total_bill)
  percent_tips_list.append(tip_percent)

tips['percent_tip'] = percent_tips_list
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  percent_tip
0       16.99  1.01  Female     No  Sun  Dinner     2         0.06
1       10.34  1.66    Male     No  Sun  Dinner     3         0.16
2       21.01  3.50    Male     No  Sun  Dinner     3         0.17

### Another iterator method: itertuples():

In [90]:
# Faster than iterrows(), itertuples().  Have to use dot notation when accessing attributes (columns)
tips = pd.read_csv('tips.csv')

# Create function to pass in the iteration
def calc_percent(tip, total):

  percent_tip = tip/total
  return np.round(percent_tip,2)

# Use .iterrows()
percent_tips_list = []
for row in tips.itertuples(): # recall iterrows() returns a tuple of an index and a value, can also use one variable to store tuple
  
  tip = row.tip
  total_bill = row.total_bill
  tip_percent = calc_percent(tip, total_bill)
  percent_tips_list.append(tip_percent)

tips['percent_tip'] = percent_tips_list
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  percent_tip
0       16.99  1.01  Female     No  Sun  Dinner     2         0.06
1       10.34  1.66    Male     No  Sun  Dinner     3         0.16
2       21.01  3.50    Male     No  Sun  Dinner     3         0.17

In [97]:
for row in tips.itertuples():
  print(row)

Pandas(Index=0, total_bill=16.99, tip=1.01, sex='Female', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.06)
Pandas(Index=1, total_bill=10.34, tip=1.66, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=2, total_bill=21.01, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.17)
Pandas(Index=3, total_bill=23.68, tip=3.31, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=4, total_bill=24.59, tip=3.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.15)
Pandas(Index=5, total_bill=25.29, tip=4.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.19)
Pandas(Index=6, total_bill=8.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.23)
Pandas(Index=7, total_bill=26.88, tip=3.12, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.12)
Pandas(Index=8, total_bill=15.04, tip=1.96, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.13)
Pandas(Index=9, total_bill=14.78, tip=3.23, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.22)
Pandas(Index=10, total_bill=10.27, tip=1.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.17)
Pandas(Index=11, total_bill=35.26, tip=5.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.14)
Pandas(Index=12, total_bill=15.42, tip=1.57, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.1)
Pandas(Index=13, total_bill=18.43, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.16)
Pandas(Index=14, total_bill=14.83, tip=3.02, sex='Female', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=15, total_bill=21.58, tip=3.92, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.18)
Pandas(Index=16, total_bill=10.33, tip=1.67, sex='Female', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=17, total_bill=16.29, tip=3.71, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.23)
Pandas(Index=18, total_bill=16.97, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.21)
Pandas(Index=19, total_bill=20.65, tip=3.35, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=20, total_bill=17.92, tip=4.08, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.23)
Pandas(Index=21, total_bill=20.29, tip=2.75, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=22, total_bill=15.77, tip=2.23, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=23, total_bill=39.42, tip=7.58, sex='Male', smoker='No', day='Sat', time='Dinner', size=4, percent_tip=0.19)
Pandas(Index=24, total_bill=19.82, tip=3.18, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=25, total_bill=17.81, tip=2.34, sex='Male', smoker='No', day='Sat', time='Dinner', size=4, percent_tip=0.13)
Pandas(Index=26, total_bill=13.37, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=27, total_bill=12.69, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=28, total_bill=21.7, tip=4.3, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=29, total_bill=19.65, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=30, total_bill=9.55, tip=1.45, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=31, total_bill=18.35, tip=2.5, sex='Male', smoker='No', day='Sat', time='Dinner', size=4, percent_tip=0.14)
Pandas(Index=32, total_bill=15.06, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=33, total_bill=20.69, tip=2.45, sex='Female', smoker='No', day='Sat', time='Dinner', size=4, percent_tip=0.12)
Pandas(Index=34, total_bill=17.78, tip=3.27, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.18)
Pandas(Index=35, total_bill=24.06, tip=3.6, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.15)
Pandas(Index=36, total_bill=16.31, tip=2.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.12)
Pandas(Index=37, total_bill=16.93, tip=3.07, sex='Female', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.18)
Pandas(Index=38, total_bill=18.69, tip=2.31, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.12)
Pandas(Index=39, total_bill=31.27, tip=5.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=40, total_bill=16.04, tip=2.24, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.14)
Pandas(Index=41, total_bill=17.46, tip=2.54, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=42, total_bill=13.94, tip=3.06, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.22)
Pandas(Index=43, total_bill=9.68, tip=1.32, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=44, total_bill=30.4, tip=5.6, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.18)
Pandas(Index=45, total_bill=18.29, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=46, total_bill=22.23, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.22)
Pandas(Index=47, total_bill=32.4, tip=6.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.19)
Pandas(Index=48, total_bill=28.55, tip=2.05, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.07)
Pandas(Index=49, total_bill=18.04, tip=3.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.17)
Pandas(Index=50, total_bill=12.54, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=51, total_bill=10.29, tip=2.6, sex='Female', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.25)
Pandas(Index=52, total_bill=34.81, tip=5.2, sex='Female', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.15)
Pandas(Index=53, total_bill=9.94, tip=1.56, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=54, total_bill=25.56, tip=4.34, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.17)
Pandas(Index=55, total_bill=19.49, tip=3.51, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.18)
Pandas(Index=56, total_bill=38.01, tip=3.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4, percent_tip=0.08)
Pandas(Index=57, total_bill=26.41, tip=1.5, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.06)
Pandas(Index=58, total_bill=11.24, tip=1.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=59, total_bill=48.27, tip=6.73, sex='Male', smoker='No', day='Sat', time='Dinner', size=4, percent_tip=0.14)
Pandas(Index=60, total_bill=20.29, tip=3.21, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=61, total_bill=13.81, tip=2.0, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=62, total_bill=11.02, tip=1.98, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.18)
Pandas(Index=63, total_bill=18.29, tip=3.76, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=4, percent_tip=0.21)
Pandas(Index=64, total_bill=17.59, tip=2.64, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.15)
Pandas(Index=65, total_bill=20.08, tip=3.15, sex='Male', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=66, total_bill=16.45, tip=2.47, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=67, total_bill=3.07, tip=1.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=1, percent_tip=0.33)
Pandas(Index=68, total_bill=20.23, tip=2.01, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.1)
Pandas(Index=69, total_bill=15.01, tip=2.09, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=70, total_bill=12.02, tip=1.97, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=71, total_bill=17.07, tip=3.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=3, percent_tip=0.18)
Pandas(Index=72, total_bill=26.86, tip=3.14, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.12)
Pandas(Index=73, total_bill=25.28, tip=5.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=74, total_bill=14.73, tip=2.2, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=75, total_bill=10.51, tip=1.25, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.12)
Pandas(Index=76, total_bill=17.92, tip=3.08, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.17)
Pandas(Index=77, total_bill=27.2, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=4, percent_tip=0.15)
Pandas(Index=78, total_bill=22.76, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.13)
Pandas(Index=79, total_bill=17.29, tip=2.71, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.16)
Pandas(Index=80, total_bill=19.44, tip=3.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2, percent_tip=0.15)
Pandas(Index=81, total_bill=16.66, tip=3.4, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.2)
Pandas(Index=82, total_bill=10.07, tip=1.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=1, percent_tip=0.18)
Pandas(Index=83, total_bill=32.68, tip=5.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2, percent_tip=0.15)
Pandas(Index=84, total_bill=15.98, tip=2.03, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.13)
Pandas(Index=85, total_bill=34.83, tip=5.17, sex='Female', smoker='No', day='Thur', time='Lunch', size=4, percent_tip=0.15)
Pandas(Index=86, total_bill=13.03, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.15)
Pandas(Index=87, total_bill=18.28, tip=4.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.22)
Pandas(Index=88, total_bill=24.71, tip=5.85, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.24)
Pandas(Index=89, total_bill=21.16, tip=3.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=90, total_bill=28.97, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.1)
Pandas(Index=91, total_bill=22.49, tip=3.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=92, total_bill=5.75, tip=1.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.17)
Pandas(Index=93, total_bill=16.32, tip=4.3, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.26)
Pandas(Index=94, total_bill=22.75, tip=3.25, sex='Female', smoker='No', day='Fri', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=95, total_bill=40.17, tip=4.73, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=4, percent_tip=0.12)
Pandas(Index=96, total_bill=27.28, tip=4.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=97, total_bill=12.03, tip=1.5, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.12)
Pandas(Index=98, total_bill=21.01, tip=3.0, sex='Male', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.14)
Pandas(Index=99, total_bill=12.46, tip=1.5, sex='Male', smoker='No', day='Fri', time='Dinner', size=2, percent_tip=0.12)
Pandas(Index=100, total_bill=11.35, tip=2.5, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.22)
Pandas(Index=101, total_bill=15.38, tip=3.0, sex='Female', smoker='Yes', day='Fri', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=102, total_bill=44.3, tip=2.5, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=3, percent_tip=0.06)
Pandas(Index=103, total_bill=22.42, tip=3.48, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.16)
Pandas(Index=104, total_bill=20.92, tip=4.08, sex='Female', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=105, total_bill=15.36, tip=1.64, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.11)
Pandas(Index=106, total_bill=20.49, tip=4.06, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=107, total_bill=25.21, tip=4.29, sex='Male', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.17)
Pandas(Index=108, total_bill=18.24, tip=3.76, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.21)
Pandas(Index=109, total_bill=14.31, tip=4.0, sex='Female', smoker='Yes', day='Sat', time='Dinner', size=2, percent_tip=0.28)
Pandas(Index=110, total_bill=14.0, tip=3.0, sex='Male', smoker='No', day='Sat', time='Dinner', size=2, percent_tip=0.21)
Pandas(Index=111, total_bill=7.25, tip=1.0, sex='Female', smoker='No', day='Sat', time='Dinner', size=1, percent_tip=0.14)
Pandas(Index=112, total_bill=38.07, tip=4.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.11)
Pandas(Index=113, total_bill=23.95, tip=2.55, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.11)
Pandas(Index=114, total_bill=25.71, tip=4.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=115, total_bill=17.31, tip=3.5, sex='Female', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=116, total_bill=29.93, tip=5.07, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.17)
Pandas(Index=117, total_bill=10.65, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=118, total_bill=12.43, tip=1.8, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=119, total_bill=24.08, tip=2.92, sex='Female', smoker='No', day='Thur', time='Lunch', size=4, percent_tip=0.12)
Pandas(Index=120, total_bill=11.69, tip=2.31, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.2)
Pandas(Index=121, total_bill=13.42, tip=1.68, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.13)
Pandas(Index=122, total_bill=14.26, tip=2.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.18)
Pandas(Index=123, total_bill=15.95, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.13)
Pandas(Index=124, total_bill=12.48, tip=2.52, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.2)
Pandas(Index=125, total_bill=29.8, tip=4.2, sex='Female', smoker='No', day='Thur', time='Lunch', size=6, percent_tip=0.14)
Pandas(Index=126, total_bill=8.52, tip=1.48, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.17)
Pandas(Index=127, total_bill=14.52, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=128, total_bill=11.38, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.18)
Pandas(Index=129, total_bill=22.82, tip=2.18, sex='Male', smoker='No', day='Thur', time='Lunch', size=3, percent_tip=0.1)
Pandas(Index=130, total_bill=19.08, tip=1.5, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.08)
Pandas(Index=131, total_bill=20.27, tip=2.83, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=132, total_bill=11.17, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.13)
Pandas(Index=133, total_bill=12.26, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.16)
Pandas(Index=134, total_bill=18.26, tip=3.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.18)
Pandas(Index=135, total_bill=8.51, tip=1.25, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.15)
Pandas(Index=136, total_bill=10.33, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.19)
Pandas(Index=137, total_bill=14.15, tip=2.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=138, total_bill=16.0, tip=2.0, sex='Male', smoker='Yes', day='Thur', time='Lunch', size=2, percent_tip=0.12)
Pandas(Index=139, total_bill=13.16, tip=2.75, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.21)
Pandas(Index=140, total_bill=17.47, tip=3.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.2)
Pandas(Index=141, total_bill=34.3, tip=6.7, sex='Male', smoker='No', day='Thur', time='Lunch', size=6, percent_tip=0.2)
Pandas(Index=142, total_bill=41.19, tip=5.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=5, percent_tip=0.12)
Pandas(Index=143, total_bill=27.05, tip=5.0, sex='Female', smoker='No', day='Thur', time='Lunch', size=6, percent_tip=0.18)
Pandas(Index=144, total_bill=16.43, tip=2.3, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=145, total_bill=8.35, tip=1.5, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.18)
Pandas(Index=146, total_bill=18.64, tip=1.36, sex='Female', smoker='No', day='Thur', time='Lunch', size=3, percent_tip=0.07)
Pandas(Index=147, total_bill=11.87, tip=1.63, sex='Female', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.14)
Pandas(Index=148, total_bill=9.78, tip=1.73, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.18)
Pandas(Index=149, total_bill=7.51, tip=2.0, sex='Male', smoker='No', day='Thur', time='Lunch', size=2, percent_tip=0.27)
Pandas(Index=150, total_bill=14.07, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.18)
Pandas(Index=151, total_bill=13.13, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.15)
Pandas(Index=152, total_bill=17.26, tip=2.74, sex='Male', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.16)
Pandas(Index=153, total_bill=24.55, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.08)
Pandas(Index=154, total_bill=19.77, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.1)
Pandas(Index=155, total_bill=29.85, tip=5.14, sex='Female', smoker='No', day='Sun', time='Dinner', size=5, percent_tip=0.17)
Pandas(Index=156, total_bill=48.17, tip=5.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=6, percent_tip=0.1)
Pandas(Index=157, total_bill=25.0, tip=3.75, sex='Female', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.15)
Pandas(Index=158, total_bill=13.39, tip=2.61, sex='Female', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.19)
Pandas(Index=159, total_bill=16.49, tip=2.0, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.12)
Pandas(Index=160, total_bill=21.5, tip=3.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=4, percent_tip=0.16)
Pandas(Index=161, total_bill=12.66, tip=2.5, sex='Male', smoker='No', day='Sun', time='Dinner', size=2, percent_tip=0.2)
Pandas(Index=162, total_bill=16.21, tip=2.0, sex='Female', smoker='No', day='Sun', time='Dinner', size=3, percent_tip=0.12)

In [0]:
# for row in tips.itertuples():
#   print(row.tip)


### Pandas alternative to looping

In [103]:
# Even faster: .apply()
tips = pd.read_csv('tips.csv')

def calc_percent(tip, total):

  percent_tip = tip/total
  return np.round(percent_tip,2)

tips_apply = tips.apply(lambda row: calc_percent(row['tip'], row['total_bill']), axis=1)  # .apply() know it will act on a series, either axis=0 or axis=1
tips['percent_tip'] = tips_apply
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  percent_tip
0       16.99  1.01  Female     No  Sun  Dinner     2         0.06
1       10.34  1.66    Male     No  Sun  Dinner     3         0.16
2       21.01  3.50    Male     No  Sun  Dinner     3         0.17

In [107]:
numcolumns = tips[['total_bill','tip','size','percent_tip']]
rowwise = numcolumns.apply(sum, axis=0)
rowwise

total_bill     4827.77
tip             731.58
size            627.00
percent_tip      39.27
dtype: float64

In [108]:
columnwise= numcolumns.apply(sum, axis=1)
columnwise

0      20.06
1      15.16
2      27.68
3      29.13
4      32.35
       ...
239    38.15
240    31.25
241    26.76
242    21.67
243    23.94
Length: 244, dtype: float64

In [109]:
def convert_str(value):
  if value == 'Yes':
    return 1
  else:
    return 0  

smoking = tips.apply(lambda row: convert_str(row['smoker']), axis=1)
smoking

0      0
1      0
2      0
3      0
4      0
      ..
239    0
240    1
241    1
242    0
243    0
Length: 244, dtype: int64

In [111]:
def each_pay(total_bill, party_no):
  split_amt = total_bill/party_no
  amt = round(split_amt,2)
  return amt 

tips['split'] = tips.apply(lambda row: each_pay(row['total_bill'], row['size']), axis=1)
tips.head(3)

   total_bill   tip     sex smoker  day    time  size  percent_tip  split
0       16.99  1.01  Female     No  Sun  Dinner     2         0.06   8.49
1       10.34  1.66    Male     No  Sun  Dinner     3         0.16   3.45
2       21.01  3.50    Male     No  Sun  Dinner     3         0.17   7.00

### Optimal Pandas iterating

In [116]:
# Pandas internals: Avoid loops!!! Utilize Numpy broadcasting Characteristics!

tips['tip'].values[:10],type(tips['tip'].values)

(array([1.01, 1.66, 3.5 , 3.31, 3.61, 4.71, 2.  , 3.12, 1.96, 3.23]),
 numpy.ndarray)

In [122]:
#%timeit 
tips['tip_percent_again']=round(tips['tip']/tips['total_bill'],2) # Next fastest approach 372 µs per loop
#tips.head(3)

The slowest run took 13.44 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 372 µs per loop

In [123]:

%timeit tips['tips_per_III']=tips['tip'].values/tips['total_bill'].values # Fastest approach  108 µs per loop
#tips.head(3)

The slowest run took 5.86 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 108 µs per loop